@import "tailwindcss";

@theme {
  --color-customblue-100: #0b2e92;
  --color-customblack-100: #000000;
  --color-customwhite-100: #ffffff;
  --color-customgray-100: #282828;
  --color-customgray-200: #202020;
}

@layer utilities {
  .text-csm {
    font-size: 10px;
  }

  @media (min-width: 540px) {
    .hide-after-540 {
      display: none !important;
    }
  }

  @media (min-width: 768px) {
    .text-csm {
      font-size: 14px;
    }
  }

  .text-cmd {
    font-size: 10px;
  }

  .font-orbitron {
    font-family: "Orbitron", sans-serif;
  }

  @media (min-width: 140px) and (max-width: 767px) {
    .hide-sidebar-340-sm {
      display: none !important;
    }
  }

  @media (min-width: 767px)  {
    .hide-usericon-sm {
      display: none !important;
    }
  }

  /* globals.css */

@media (min-width: 640px) { /* sm breakpoint */
  ::-webkit-scrollbar {
    height: 8px; /* You can adjust thickness */
  }

  ::-webkit-scrollbar-track {
    background: #000; /* Black background */
  }

  ::-webkit-scrollbar-thumb {
    background: #555; /* Thumb color (you can make it lighter or darker) */
    border-radius: 10px;
  }
}

/* Optional for md screens (768px) onwards */
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #000; 
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
  }
}


}
